{% extends "admin/base.html" %}

{% block title %}
Simon Auto's Management
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        SIMON AUTO'S MANAGEMENT
    </a>
</h1>
{% endblock %}

{% block nav-global %}
<div style="padding: 10px 20px; background: #111;">

    <a href="/dashboard/"
       style="
       display: inline-block;
       background: #f5b400;
       color: #111;
       padding: 10px 18px;
       border-radius: 6px;
       text-decoration: none;
       font-weight: bold;
       ">
        📊 Simon Auto's Dashboard
    </a>

</div>
{% endblock %}